<h1>Editing User</h1>

<%= render 'form', user: @user %>
<p><%= link_to 'Delete User', @user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<br></br>
<%= button_to 'Back to User', user_path, method: :get%>

<%#= link_to 'Back to User', @user %> 
<%#= link_to 'Back', users_path %>

