<table width="100%" cellspacing="0" >
 <tr>
    <td class="colh"><%#= link_to 'Back to All Users', users_path %>
      <%= link_to 'tasks', tasks_path %> | <%= link_to 'tickets', tickets_path %>
    </td>
    </tr>
</table>